# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg

data/

myvenv