{% load static %}


<style>


    .tool-container {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 2rem;
    }
    
    .notification-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .message-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logout-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-header-img {
        width: 9rem;
        margin-top: 1rem;
        margin-left: -2rem;
    }
    
    .notifications-img {
        width: 1.5rem;
    }
    
    .message-img {
        width: 1.5rem;
    }
    
    .logout-link {
        color: white;
        font-weight: bold;
    }
    
    .btn-menu {
        color: white;
    }
    
    nav#nav-custom {
        margin-left: 15rem;
        background: linear-gradient(to right, #FFA801, #FE3A00);
    }
</style>
<nav id="nav-custom" class="ml-auto">
    <div id="simple-container">
        <div class="form-row col-12 col-md-12">
            <div class="col-0 col-sm-0 col-md-0 form-group tool-container">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-light btn-menu d-inline-block  ml-auto">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
            <div class="col-4 col-sm-2 col-md-4 col-lg-6 col-xl-7 form-group logo-container">
                <img class="logo-header-img" src="{% static 'img/cabuto.png'%}">
            </div>

            <div class="col-1 col-md-1 form-group notification-container">
                <a href="#">
                    <img class="notifications-img" src="{% static 'img/iconos_administrador/notificaciones.png' %}">
                </a>
            </div>

            <div class="col-2 col-sm-2 col-md-2 col-lg-2 form-group message-container">
                <a href="#">
                    <img class="message-img" src="{% static 'img/iconos_administrador/mensajería.png' %}">
                </a>
            </div>

            <div class="col-1 col-md-1 form-group logout-container">
                <a href="">
                    <span class="logout-link">Cerrar Sesión</span>
                </a>
            </div>
        </div>



    </div>



</nav>